.forButton {
  border-radius: 50px;
}

.imgButton {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.socialProfile {
  width: 25px;
  height: 25px;
}

.garisSpan {
  width: 35px;
  height: 4px;
  margin: 30px 15px;
  background: #f47522;
  border-radius: 2px;
}
