.warnaNav {
  background-color: #34BE82;
  opacity: 95%;
}

.btnLogin {
  font-family: 'Montserrat', sans-serif;
  width: 130px;
  height: 38px;
  border-radius: 50px;
  background-color:green;
  font-weight: bolder;
  border-color: green;
}